html {
	overflow-y: hidden;
}

section {
	height: 100%;
	padding-bottom: 1500px;
}

.svg-container {
	/*background-color: #e0e0e0;*/
	/*background-color: rgb(243,243,244);*/

	display: block;
	/*margin: 0;*/
	
	/*position: fixed;
	top: 0;
	left: 0;*/
}

#node-container-mouse-area {
	fill: transparent;
	/*fill: #b2dfdb;*/
	fill: #64ffda;
}


.node-modal {
	border: 0px solid #fff;
	position: absolute;
	background-color: #fff;
}

.node-modal-top {
	height: 30px;
	border-bottom: 1px solid #000;
	text-align: right;
}

.node-modal-close-button {
	color: rgba(0,0,0,.3);
	line-height: 30px;	
	font-size: 27px;
	font-weight: bold;
	padding-right: 10px;
	cursor: pointer;
}

.node-modal-close-button:hover {
	color: rgba(0,0,0,.7);	
}

.node-modal-title {
	color: #000;
	font-size: 40px;
	margin: 10px 20px 20px 30px;
	font-weight: bold;
}

.skill-dialog-subtitle {
	color: #000;
	font-size: 26px;
	margin: 30px 20px 10px 30px;
	font-weight: bold;
}

.skill-dialog-content {
	color: #000;
	font-size: 18px;
	margin: 5px 20px 5px 30px;
	text-align: justify;
}


.dark-screen {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
}

/*
.node-rect {
	stroke: #fff;
	stroke-width: 2;

}

.skill-node-container-selected {
	stroke: #008;
	stroke-width: 4;
}*/



/* NODES AND LINKS RELATED STYLES */

.node-inner-rect-group {
	cursor: pointer;
	filter: url(#md-shadow1);
}

.node-inner-rect-group:hover{
	filter: url(#md-shadow3);
}

.node-inner-rect {
	stroke: #fff;
	stroke: rgb(34,34,34);
	stroke-width: 0;
}

.node-inner-rect-selected {
	stroke: #77f;
	stroke-width: 4;	
}

.node-inner-rect-darker-margin {
	stroke: none;
	fill-opacity: 0.2;
	fill: #000;
}

.node-inner-rect-text {
	font-size: 20px;
	font-family: Calibri;
}

.node-io-symbol {
	fill: #aaa;
	fill: #fff;
	fill: #444;
	fill: #fff;
	stroke: #fff;
	stroke-width: 0;
	cursor: crosshair;
}

.node-io-symbol:hover {
	stroke: #ff0;
	stroke-width: 3;
}




.navi-links {
	cursor: pointer;	
}

.navi-links-outer {
	fill: none;
	stroke: #fff;
	stroke: #37474F;

	stroke-width: 4;
}

.navi-links:hover {
	/*stroke: #00f;	*/	
}

.navi-links-selected {
	stroke: #77f;
	stroke-width: 4;
}

.navi-links-selected:hover {
	/*stroke: #ff0;	*/	
}

.navi-links-inner {
	fill: none;
	/*stroke: #444;
	stroke: rgb(34,34,34);*/
	stroke: #37474F;
	stroke-width: 2;
}


.node-name-search-result {
	padding: 2px 0 2px 5px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.node-name-search-result:hover {
	color: #fff;
	background-color: #000;
}



/* Content Style Area */

.navi-content-window {
	background-color: rgba(255,255,255,.98);
	position: absolute;
	left: 300px;
	top: 0px;
	padding: 40px 30px 30px 30px;
}

.navi-content-close-button {
	font-size: 30px;
	cursor: pointer;	
	position: absolute;
	right: 30px;
	top: 0px;
}

.navi-content-window-title {
	font-size: 40px;
}

.navi-content-window-subtitle {
	font-size: 30px;
}

.navi-content-window-text {
	font-size: 20px;	
}